<div class=" d-flex mt-2"> <button class="btn1 btn-dark">Романтик</button> </div>
<div class="text mt-3">
    <span>Этот тип личности желает любви и объятий. Такому типу не свойственны тщеславие или желание нажиться. Цель их
        жизни - это любить и быть любимыми.<br><br>
        Девушки чаще всего являются Романтиками. Они обычно влюблены в таких известных личностей, как Тимоти Шаламе,
        Киллиан Мерфи, Вадим Галыгин, Джонкгуг, Чин, Шуга, Ви, Чимин, Рамен, Фунчоза и другие.
    </span>
</div>